.certificates {
    display: flex;
    padding: 1rem;
}

.certificate {
    width: 100px;
    height: 130px;
    background-color: aliceblue;
    border-radius: .5rem;
    border: 1px solid darkblue;
    margin: .7rem;
}