<div class="d-flex parent">
    <div class="left-menu">
        <p [ngClass]="varControl=='overview'? 'active':''"  (click)="selectItem('overview')">Visão Geral</p>
        <p [ngClass]="varControl=='active'? 'active':''"  (click)="selectItem('active')">Projetos Ativos</p>
        <p [ngClass]="varControl=='completed'? 'active':''"  (click)="selectItem('completed')">Projetos Concluídos</p>
        <p [ngClass]="varControl=='favorites'? 'active':''"  (click)="selectItem('favorites')">Favoritos</p>
        <p [ngClass]="varControl=='Colaboracao'? 'active':''"  (click)="selectItem('Colaboracao')">Colaboracao</p>
        <p [ngClass]="varControl=='settings'? 'active':''"  (click)="selectItem('settings')">Configurações</p>

    </div>
    <div class="content">

    </div>
</div>