<div class="d-flex parent">
    <div class="left-menu">
        <p class="active">Linguagens de Programação</p>
        <p>Ferramentas de Teste</p>
        <p>Bancos de Dados</p>
        <p>Ambientes de Desenvolvimento</p>
        <p>Ferramentas de Colaboração e Gestão de Projectos</p>
        <p>Ferramentas de Modelagem e Design</p>
        <p>Frameworks e Bibliotecas</p>
        <p>Navegadores e Ferramentas de Teste</p>
        <p>Estilização e Animações</p>
      </div>
      <div class="content">
        <div class="skills-container">
            <div class="skill-item">
                <div class="skill-icon">
                    <img class="w-100 h-100" src="assets/img/python-logo.png" alt="">
                </div>
                <span class="skill-legend">Python</span>
            </div>
            <div class="skill-item">
                <div class="skill-icon">
                    <img class="w-100 h-100" src="assets/img/java-logo.png" alt="">
                </div>
                <span class="skill-legend">Java</span>
            </div>
            <div class="skill-item">
                <div class="skill-icon">
                    <img class="w-100 h-100" src="assets/img/csharp-logo.png" alt="">
                </div>
                <span class="skill-legend">C#</span>
            </div>
            <div class="skill-item">
                <div class="skill-icon">
                    <img class="w-100 h-100" src="assets/img/javascript-logo.png" alt="">
                </div>
                <span class="skill-legend">JavaScript</span>
            </div>
            <div class="skill-item">
                <div class="skill-icon">
                    <img class="w-100 h-100" src="assets/img/cpp-logo.png" alt="">
                </div>
                <span class="skill-legend">C++</span>
            </div>
            <div class="skill-item">
                <div class="skill-icon">
                    <img class="w-100 h-100" src="assets/img/php-logo.png" alt="">
                </div>
                <span class="skill-legend">PHP</span>
            </div>
            <div class="skill-item">
                <div class="skill-icon">
                    <img class="w-100 h-100" src="assets/img/typescript-logo.png" alt="">
                </div>
                <span class="skill-legend">typescript</span>
            </div>
        </div>
      </div>

</div>