<div class="d-flex parent">
    <div class="left-menu">
        <p [ngClass]="varControl=='lps'? 'active':''" (click)="selectElement('lps')">Linguagens de Programação</p>
        <p [ngClass]="varControl=='frameworks'? 'active':''" (click)="selectElement('frameworks')">Frameworks e Bibliotecas</p>
        <p [ngClass]="varControl=='bd'? 'active':''" (click)="selectElement('bd')">Bancos de Dados</p>
        <p [ngClass]="varControl=='ambiente'? 'active':''" (click)="selectElement('ambiente')">Ambientes de Desenvolvimento</p>
        <p [ngClass]="varControl=='ferTeste'? 'active':''" (click)="selectElement('ferTeste')">Navegadores e Ferramentas de Teste</p>
        <p [ngClass]="varControl=='colab'? 'active':''" (click)="selectElement('colab')">Ferramentas de Colaboração e Gestão de Projectos</p>
        <p [ngClass]="varControl=='modelagem'? 'active':''" (click)="selectElement('modelagem')">Ferramentas de Modelagem e Design</p>
        <p>Estilização e Animações</p>
        <p>Arquiteturas e Padroes</p>
    </div>
    <div class="content">
        <app-skills-content [skillsList]="skillsList"></app-skills-content>
        <app-skills-item-detail [selectedSkill]="selectedSkill"></app-skills-item-detail>
    </div>
</div>