* {
    
    
}

.apps-container {
    position: relative;
    overflow: hidden;
    // user-select: none;
}

.feedbacks {
    position: absolute;
    right: 0;
    top: 0%;
    bottom: 10%;
    width: 300px;
    background-color: rgba(14, 14, 111, 0.825);
    transition: .4s;

    border-radius: .5rem;
    font-size: small;
    user-select: auto;
}

.mobile-feedback-menuicon {
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid aquamarine;
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    transition: .5S;
    cursor: pointer;

    opacity: 0;
    pointer-events: none;
}

.mobile-feedback-menuicon:hover {
    background-color: rgba(63, 16, 232, 0.753);
}


.close {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 30px;
    height: 30px;
    border-radius: .5rem;
    border: 1px solid #ccc;
    background-color: rgba(16, 38, 162, 0.751);
    cursor: pointer;
    display: grid;
    place-items: center;

    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

@media (max-width: 468px) {
    .feedbacks {
        opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
    }

    .feedbacks.active {
        opacity: 1;
        transform: translateX(0);
        width: 100%;
        pointer-events: auto;
    }

    .mobile-feedback-menuicon.active {
        opacity: 1;
        pointer-events: auto;
    }

    .close.active {
        opacity: 1;
        pointer-events: auto;
    }
}

