<div class="apps-container">
    @for (app of appsList; track $index) {
        <div cdkDragBoundary=".apps-container" cdkDrag #draggableApp class="app-item-container" (dblclick)="onAppClick(app)" (click)="selectApp(draggableApp, app)" [ngClass]="{'selected': isSelected(app)}">
          <h5 class="app-desk-item" [ngClass]="app.bgColor">{{ app.simbol}}</h5>
          <div class="app-title">{{ app.title }}</div>
        </div>

    }

    <div class="mobile-feedback-menuicon" [ngClass]="{active: !showFeedbacks}" (click)="showFeedbacksFn()">
      <i class="fa-solid fa-comments"></i>
    </div>
    <div class="feedbacks" [ngClass]="{active: showFeedbacks}">
      <app-feedbacks></app-feedbacks>
      <span class="close fa fa-times" [ngClass]="{active: showFeedbacks}" (click)="showFeedbacksFn()"></span>
    </div>
  </div>