.content {
    overflow-x: hidden;
}

.detail-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    
    
    background-color: #27282c;

    transform: translateX(200%);
    transition: all ease .3s;
}

.detail-item.showDetail {
    transform: translateX(0%);
    height: 100%;
    // display: none;

}

.project-body p {
    font-weight: 500;
    font-size: .85rem;
}

.tech-item {
    margin: .3rem;
    overflow-x: hidden;
}

.project-banner {
    height: 150px;
    width: 100%;
}

.project-banner img {
    height: 100%;
    width: 100%;
}
