<header class="px-4 d-flex justify-content-between">
  <div class="left-header">
    <small>Diaku Zena Manuel</small>
    <h5>Fullstack Developer</h5>
  </div>
  <div class="howitworks">
    <p class="py-0 my-0 more-option-title" (click)="toggleShowMoreOptions()">Mais <i class="fa-solid fa-circle-info"></i></p>
    <div class="moreoptions" [ngClass]="{active: toggleMoreOptions}">
      @if (toggleMoreOptions) {
        <app-moreoptions></app-moreoptions>
      }
    </div>
  </div>
  <div class="right-header">
    <h6 class="my-0 py-1 warning">
      EM DESENVOLVIMENTO!
    </h6>
    <small class="my-1 my-0">Este Portfolio está em desenvolvimento.</small>
  </div>
</header>
<!-- <main (contextmenu)="onRightClick($event)">
  <app-desktop (appClick)="onAppClick($event)"></app-desktop>
  <app-draggable-window></app-draggable-window>
  <app-context-menu #contextMenu></app-context-menu>
</main> -->
<main (contextmenu)="onRightClick($event)">
  <app-desktop (appClick)="onAppClick($event)"></app-desktop>
  <ng-container *ngFor="let window of openWindows">
    <app-draggable-window
      [windowData]="window"
      (windowClick)="onWindowClick(window.id)"
      (windowClose)="onWindowClose(window.id)"
      (windowMinimize)="onWindowMinimize(window.id)"
      (windowExpand)="onWindowExpand(window.id)">
    </app-draggable-window>
  </ng-container>
  <app-context-menu #contextMenu></app-context-menu>
</main>

<footer>
  <h6 class="logo px-1">DZM</h6>
  <app-taskbar [openApps]="openApps" (openAppTaskbar)="openWindowTaskBar()"></app-taskbar>
  <app-right-tools></app-right-tools>
</footer>