<header class="px-4 d-flex justify-content-between">
  <div class="left-header">
    <small>Diaku Zena Manuel</small>
    <h5>Fullstack Developer</h5>
  </div>
  <div class="howitworks">
    <p class="py-0 my-0 more-option-title" (click)="toggleShowMoreOptions()">Mais <i class="fa-solid fa-circle-info"></i></p>
    <div class="moreoptions" [ngClass]="{active: toggleMoreOptions}">
      @if (toggleMoreOptions) {
        <app-moreoptions></app-moreoptions>
      }
    </div>
  </div>
  <div class="right-header">
    <h6 class="my-0 py-1 warning">
      EM DESENVOLVIMENTO!
    </h6>
    <small class="my-1 my-0">Este Portfolio está em desenvolvimento.</small>
  </div>
</header>
<!-- <main (contextmenu)="onRightClick($event)">
  <app-desktop (appClick)="onAppClick($event)"></app-desktop>
  <app-draggable-window></app-draggable-window>
  <app-context-menu #contextMenu></app-context-menu>
</main> -->
<main (contextmenu)="onRightClick($event)">
  <app-desktop (appClick)="onAppClick($event)"></app-desktop>
  <ng-container *ngFor="let window of openWindows">
    <app-draggable-window
      [windowData]="window"
      (windowClick)="onWindowClick(window.id)"
      (windowClose)="onWindowClose(window.id)"
      (windowMinimize)="onWindowMinimize(window.id)"
      (windowExpand)="onWindowExpand(window.id)">
    </app-draggable-window>
  </ng-container>
  <app-context-menu #contextMenu></app-context-menu>
  <div class="bewelcome" [ngClass]="{active: showBeWelcome}">
    <div class="welcome-header">
      <span>Seja Bem-Vindo ao meu Portifolio!</span>
      <span class="fa fa-close" (click)="toggleShowBW()"></span>
    </div>
    <div class="welcome-body">
      <div class="welcome-body-left">
        <img src="assets/img/diaku-1.png" alt="">
      </div>
      <div class="welcome-body-right p-3">
        <h5>Olá, eu sou</h5>
        <h3>Diaku Zena Manuel</h3>
        <p class="text-normal">
          Sou um desenvolvedor apaixonado por tecnologia e inovação. Com uma sólida experiência em desenvolvimento de softwares, estou sempre em busca de novos desafios e oportunidades para crescer e contribuir com projetos inovadores. Minha missão é criar soluções que façam a diferença e proporcionem uma experiência incrível para os usuários. 
        </p>
      </div>
      
    </div>
  </div>

  <div class="bwbtn" [ngClass]="{active: !showBeWelcome}" (click)="toggleShowBW()"><i class="fa-regular fa-face-smile-beam"></i></div>
</main>

<footer>
  <h6 class="logo px-1">DZM</h6>
  <app-taskbar [openApps]="openApps" (openAppTaskbar)="openWindowTaskBar()"></app-taskbar>
  <app-right-tools></app-right-tools>
</footer>