<div class="window" #draggableWindow [ngClass]="{'active': windowData.isActive, 'minimized': windowData.isMinimized,
  'expanded': windowData.isExpanded}" (click)="onClick()">
  <div class="title-bar d-flex justify-content-between" (mousedown)="onMouseDown($event)">
    <span class="title">{{ windowData.title }}</span>
    <div class="window-options">
      <span class="fa fa-window-minimize" (click)="onMinimize()"></span>
      <span class="fa fa-window-maximize" (click)="onExpand()"></span>
      <span class="fa fa-times" (click)="onClose()"></span>
    </div>
  </div>
  <div class="window-body d-flex h-100 w-100" *ngIf="!windowData.isMinimized">
    @if(windowData.title == "Sobre Mim"){
      <app-about-me></app-about-me>
    } @else if(windowData.title == "Skills"){
      <app-skills></app-skills>
    } @else if(windowData.title == "Experiencias"){
      <app-experience></app-experience>
    } @else if(windowData.title == "Projetos"){
      <app-projects></app-projects>
    } @else if(windowData.title == "Formação Acadêmica"){
      <app-academic></app-academic>
    } @else if(windowData.title == "Hobies"){
      <app-hobies></app-hobies>
    } @else if(windowData.title == "Certificados"){
      <app-certificates></app-certificates>
    }


  </div>
</div>