<div class="equip-container">
    <div class="desc">
        <h5 class="desc-title">Descrição</h5>
        <p class="desc-text">
            Nossos projetos são desenvolvidos com a colaboração de diversos membros que compõem nossa equipe talentosa. Abaixo, apresentamos os membros da equipe, destacando suas habilidades, contribuições e o impacto positivo que trazem para nossos projetos. Estamos comprometidos com o crescimento contínuo e planejamos expandir nosso negócio para se tornar uma startup ou uma empresa focada em soluções inovadoras na área de TI no futuro próximo.
        </p>
    </div>
    
    <div class="desenvolvedores">
        <h6 class="desc-title">Desenvolvedores</h6>
        <div class="desc-text">
            <p>Os desenvolvedores da nossa equipe são especialistas em diversas linguagens de programação e frameworks, transformando requisitos técnicos em soluções robustas e escaláveis.</p>
            <div class="members">
                <div class="member-item">
                    <img src="assets/img/user-photo-2.jpg" alt="">
                    <p class="name">Diaku Zena Manuel</p>
                    <small>ADB</small>
                </div>
                <div class="member-item">
                    <img src="assets/img/user-photo.jpg" alt="">
                    <p class="name">Joao Eduardo</p>
                    <small>Frontend</small>
                </div>
                <div class="member-item">
                    <img src="assets/img/user-photo-2.jpg" alt="">
                    <p class="name">Diaku Zena Manuel</p>
                    <small>Backend</small>
                </div>
            </div>
        </div>
        <!-- Listagem dos desenvolvedores com fotos e descrições -->
    </div>

    <div class="designers">
        <h6 class="desc-title">Designers</h6>
        <div class="desc-text">
            <p>Responsáveis por criar interfaces visuais intuitivas e atraentes, nossos designers transformam ideias em experiências de usuário excepcionais.</p>
            <div class="members">
                <div class="member-item">
                    <img src="assets/img/user-photo-2.jpg" alt="">
                    <p class="name">Diaku Zena Manuel</p>
                </div>
            </div>
        </div>
        <!-- Listagem dos designers com fotos e descrições -->
    </div>

    <div class="gestores-projects">
        <h6 class="desc-title">Gestores de Projetos</h6>
        <div class="desc-text">
            <p>
                Nossos gestores de projetos garantem que todas as fases do projeto sejam executadas de maneira eficiente e dentro dos prazos, facilitando a comunicação entre a equipe e os clientes.
            </p>
            <div class="members">
                <div class="member-item">
                    <img src="assets/img/user-photo-2.jpg" alt="">
                    <p class="name">Diaku Zena Manuel</p>
                </div>
            </div>
        </div>
        <!-- Listagem dos gestores de projetos com fotos e descrições -->
    </div>


    <div class="analistas">
        <h6 class="desc-title">Analistas de Negócios</h6>
        <div class="desc-text">
            <p>Este profissional sera responsáveis por entender as necessidades dos clientes e traduzi-las em especificações técnicas claras para a equipe de desenvolvimento.</p>
        </div>
        <!-- Em breve: profissionais para esta função -->
    </div>

    <div class="especialistas-marketing">
        <h6 class="desc-title">Especialistas em Marketing Digital</h6>
        <div class="desc-text">
            <p>Procuramos expandir nossa equipe com especialistas em marketing digital que possam desenvolver estratégias eficazes para aumentar nossa visibilidade e atrair novos clientes.</p>
            <!-- <div class="members">
                <div class="member-item">
                    <img src="assets/img/user-photo-2.jpg" alt="">
                    <p class="name">Diaku Zena Manuel</p>
                </div>
            </div> -->
        </div>
        <!-- Em breve: profissionais para esta função -->
    </div>

    <div class="engenheiros-software">
        <h6 class="desc-title">Engenheiros de Software</h6>
        <div class="desc-text">
            <p>Nossa equipe está crescendo, e buscamos engenheiros de software talentosos para se juntar a nós e ajudar a construir sistemas robustos e inovadores que atendam às demandas crescentes do mercado.</p>
            <!-- <div class="members">
                <div class="member-item">
                    <img src="assets/img/user-photo-2.jpg" alt="">
                    <p class="name">Diaku Zena Manuel</p>
                </div>
            </div> -->
        </div>
        <!-- Em breve: profissionais para esta função -->
    </div>
</div>
