<div class="parent">
    <div class="mobile-menubars my-0">
        <span class="menu-bar" (click)="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
        </span>
        <span class="title">{{ selectedMenuTitle() }}</span>
    </div>
    <div class="left-menu" [ngClass]="{'active': isMenuVisible}">
        <div class="top-menu" [ngClass]="{'active': isMenuVisible}" (click)="toggleMenu()">
            <span class="close-menu-btn"><i class="fa-solid fa-arrow-left"></i></span>

        </div>
        <p [ngClass]="varControl()=='lps' ? 'active' : ''" (click)="selectElement('lps')">Angola Telecom</p>
        <p [ngClass]="varControl()=='frameworks' ? 'active' : ''" (click)="selectElement('frameworks')">Gurpo Sipar</p>
        <p [ngClass]="varControl()=='bd' ? 'active' : ''" (click)="selectElement('bd')">Freelancer</p>
    </div>
    <div class="content">
        <!-- <app-skills-content [skillsList]="skillsList" (selectedItem)="showDetailFn($event)"></app-skills-content> -->
        <div class="detail-item" [ngClass]="{showDetail: showDetail}">
            
        </div>
    </div>
</div>