
<div class="comment-item">
    <div class="user-logo">
        <img src="assets/img/ilola.jpg" alt="">
        <p class="username">Ilola Nicolau</p>
    </div>
    <div class="user-desc">
        <p class="comment">
            Meu tropa, parabens. Ficou muito bom. Vou seguir teu exemplo, mano. Parabens!!!!!!
        </p>
    </div>
</div>

<div class="comment-item">
    <div class="user-logo">
        <img src="assets/img/josue.jpg" alt="">
        <p class="username">Josue Diogo Pedro</p>
    </div>
    <div class="user-desc">
        <p class="comment">
            Termine isso amigo, esta ficando muito incrivel. Ansioso para ver a versao final.
        </p>
    </div>
</div>

<div class="comment-item">
    <div class="user-logo">
        <img src="assets/img/esmeralda.jpg" alt="">
        <p class="username">Esmeralda Cardoso</p>
    </div>
    <div class="user-desc">
        <p class="comment">
            Nossa, querido. FIcou muito legal. Esta de parabens.
        </p>
    </div>
</div>

