
<div class="comment-item">
    <div class="user-logo">
        <img src="assets/img/user-photo.jpg" alt="">
        <p class="username">Diaku Zena Manuel</p>
    </div>
    <div class="user-desc">
        <p class="comment">
            Este portfolio está em desenvolvimento. Mas sinta-se a vontade para explorar o que já tem disponivel e compreender a ideia.
        </p>
    </div>
</div>

<div class="comment-item">
    <div class="user-logo">
        <img src="assets/img/user-photo-2.jpg" alt="">
        <p class="username">Diaku Zena Manuel</p>
    </div>
    <div class="user-desc">
        <p class="comment">
            Aqui aparecerão os feedbacks das pessoas que visitarem este portfolio e deixarem seus comentarios.
        </p>
    </div>
</div>

<div class="comment-item">
    <div class="user-logo">
        <img src="assets/img/user-photo.jpg" alt="">
        <p class="username">Diaku Zena Manuel</p>
    </div>
    <div class="user-desc">
        <p class="comment">
            Clique duas vezes em um app (item do desktop) e veja os detalhes.
        </p>
    </div>
</div>

